@{
    ViewData["Title"] = "Home Page";
}

<div id="react-app">Loading...</div>

@section scripts {
    @* The uris property is injected by the model into the code directly. *@
    <script src="~/dist/storeFront.js" asp-append-version="true" 
            uris='{ "fetchData": "/fetch-data", "counter": "/counter-kek", "home" : "/home" }'
            apiUrl="https://api.chucknorris.io"></script>
}