@using Cervus.Web.Extensions;
@using Cervus.Web.Models.StoreFront;
@using Newtonsoft.Json;
@model IndexModel
@inject JsonSerializerSettings SerializerSettings

@{
    ViewData["Title"] = "Home Page";
    var storeFrontAppId = "store-front-app";
}

<div id='@storeFrontAppId'>Loading...</div>

@section scripts {
    @* The uris property is injected by the model into the code directly. *@
    <script src='~/dist/storeFront.js' asp-append-version='true'
            app-id='@storeFrontAppId'
            uris='@Model.Uris.ToJson(SerializerSettings)'
            api-url='@Model.ContentApi'></script>
}
